@model IEnumerable<Sandogh.Models.Investment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var memberId = ViewContext.HttpContext.Request.Query["memberId"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-memberId="@memberId">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvestmentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-memberId="@memberId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-memberId="@memberId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-memberId="@memberId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
